@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  height: 4000px;
  margin: 0;
  background-color: #ffffff;
  background-size: cover, contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  overflow-x: hidden;
}
video {
  z-index: 1;
  display: flex;
}
#maps {
  align-items: center;
  display: flex;
}
#video_youtube {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16%;
  width: 70%;
  left: 50%;
  margin-left: 50%;
  transform: translate(-50%);
}
.montserrat-alternates-thin {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 100;
  font-style: normal;
}
.top-intro {
  background-color: #050505;
  display: flex;
  justify-content: center;
  align-content: space-around;
}
#address p {
  font-size: 12px;
  color: aliceblue;
  display: flex;
  justify-content: center;
}
p {
  font-size: 12px;
  color: rgb(255, 255, 255);
}
h1 {
  font-family: "Montserrat Alternates", sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  display: flex;
}
h2 {
  font-family: "Montserrat Alternates", sans-serif;
  color: rgb(255, 255, 255);
}
h3 {
  font-family: "Montserrat Alternates", sans-serif;
  color: rgb(255, 255, 255);
  color: rgb(255, 187, 0);
}
#logo {
  width: 120px;
  display: flex;
}
#top_background {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 22%;
  display: flex;
  justify-content: center;
  z-index: 1;
  position: relative;
}
#top_background video {
  position: absolute; /* Garante que o vídeo ocupe todo o contêiner */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* Coloca o vídeo abaixo do info_page */
  object-fit: cover; /* Ajusta o vídeo para cobrir o contêiner */
}
/* botão*/
#info_text {
  align-items: center;
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
  height: 50%;
  padding-top: 500px;
}

#nav_format {
  padding: 10px;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  margin-top: 5px;
  width: 100%;
  align-items: center;
  position: absolute;
  z-index: 2;
}
#imagem_background {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 250vw;
  height: 60vw;
  background-color: #000000;
}
#fundo_cards {
  background-image: url(../imagens/1523_BACKGROUND.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 99999;
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  align-items: center;
  display: flex;
  position: relative;
  justify-content: center;
  padding: 15px;
}
#list {
  display: flex;
  width: 40%;
  justify-content: center;
  align-items: center;
}
ul {
  color: aliceblue;
}

a {
  text-decoration: none;
  color: inherit;
  color: white;
}

#cronograma {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 150px;
  color: #000000;
}
#logotipo {
  height: 500px;
}
img {
  height: 750px;
}
#info_page {
  position: absolute; /* Garante que ele fique sobre o vídeo */
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 2; /* Garante que o info_page fique acima do vídeo */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; /* Para garantir visibilidade */
  pointer-events: auto;
  flex-direction: column;
}
/*-------cards------*/
.container {
  overflow: auto;
  display: flex;
  scroll-snap-type: x mandatory;
  width: 75%;
  margin: 0 auto;
  padding: 0 15px;
}

.card {
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 5px;
  padding: 2rem;
  margin: 0.5rem;
  width: 50%;
}

.container:hover > :not(:hover) {
  opacity: 0.2;
}

.title {
  width: 50%;
  display: inline-block;
  word-break: break-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  margin: 1rem auto;
}
/*-------botao nav--------------*/

#top,
#top_menu {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 5px;
  color: #e1e1e1;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

#top,
#top_menu:focus,
#top,
#top_menu:hover {
  color: #fff;
}

#top,
#top_menu:focus:after,
#top,
#top_menu {
  font-size: 15px;
  color: #e1e1e1;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

#top,
#top_menu:focus,
#top,
#top_menu:hover {
  color: #fff;
}

#top,
#top_menu:focus:after,
#top,
#top_menu:hover:after {
  width: 100%;
  left: 0%;
}

#top:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}
#top:hover:after {
  width: 100%;
  left: 0%;
}

#top:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}
/*-------botao login--------------*/
#top_login {
  padding: 8px 20px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #ff8c08;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.1);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.1);
  transition: all 250ms;
  overflow: hidden;
}

#top_login::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

#top_login:hover {
  color: #e8e8e8;
}

#top_login:hover::before {
  width: 100%;
}
/*-------botao inscri--------------*/
#inscrever {
  outline: none;
  cursor: pointer;
  border: none;
  padding: 0.5rem 5rem;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  position: relative;
  display: inline-block;
  letter-spacing: 0.05rem;
  font-weight: 700;
  font-size: 30px;
  border-radius: 500px;
  overflow: hidden;
  background: #ff7214;
  color: rgb(255, 124, 1);
  display: block;

  font-family: "Montserrat Alternates", sans-serif;
}

#inscrever span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
}

#inscrever:hover span {
  color: rgb(255, 255, 255);
}

#inscrever::before,
#inscrever::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#inscrever::before {
  content: "";
  background: #ffaa3b;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

#inscrever:hover::before {
  transform: translate3d(100%, 0, 0);
}

/*-------card team--------------*/
.body {
  display: flex;
  padding: 50px 150px 150px 150px;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  font-family: "Montserrat Alternates", sans-serif;
}
.wallet {
  --bg-color: #ff810c;
  --bg-color-light: #c0651b;
  --text-color-hover: #fff;
  --box-shadow-color: #2e2e2e7a;
}

.card {
  width: 110px;
  height: 270px;
  background: #fff;
  border-top-right-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
  transition: all 0.3s ease-out;
  text-decoration: none;
  margin-bottom: 20px;
}

.card:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
    0 24px 46px var(--box-shadow-color);
}

.card:hover .overlay {
  transform: scale(6) translateZ(0);
}

.card:hover .circle {
  border-color: var(--bg-color-light);
  background: var(--bg-color);
}

.card:hover .circle:after {
  background: var(--bg-color-light);
}

.card:hover p {
  color: var(--text-color-hover);
}

.card:active {
  transform: scale(1) translateZ(0);
  box-shadow: 0 15px 24px rgba(0, 0, 0, 0.11),
    0 15px 24px var(--box-shadow-color);
}

.card p {
  font-size: 17px;
  color: #4c5656;
  margin-top: 33px;
  z-index: 1000;
  transition: color 0.3s ease-out;
}

.circle {
  width: 121px;
  height: 121px;
  border-radius: 50%;
  background: #fff;
  border: 3px solid var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-out;
}
.circle p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}

.circle:after {
  content: "";
  width: 110px;
  height: 110px;
  display: block;
  position: absolute;
  background: var(--bg-color);
  border-radius: 50%;
  transition: opacity 0.3s ease-out;
}

.circle svg {
  z-index: 10000;
  transform: translateZ();
}

.overlay {
  width: 118px;
  position: absolute;
  height: 118px;
  border-radius: 50%;
  background: var(--bg-color);
  z-index: 0;
  transition: transform 0.3s ease-out;
}
.mobile_menu {
  display: none;
}
#checkbox {
  display: none;
}
/* Responsividade para telas menores */
@media (max-width: 768px) {
  /* Ajusta o tamanho da logo */
  #video_youtube {
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 109vh;
    left: 0;
    z-index: 100000;
  }
  #checkbox {
    display: none;
  }

  #logo {
    width: 80px;
  }

  /* Ajusta o container dos mapas para ocupar mais espaço na tela */
  #maps {
    flex-direction: column;
    align-items: center;
  }

  #maps iframe {
    width: 100%;
    height: 250px;
  }

  /* Centraliza e ajusta o tamanho dos textos */
  h1,
  h2,
  h3 {
    font-size: 18px;
    text-align: center;
  }

  /* Ajusta o tamanho do container dos cards */
  .container {
    width: 90%;
    padding: 0 10px;
  }

  .card {
    width: 120px;
    margin: 0;
  }

  /* Ajusta o cronograma para dispositivos móveis */
  #cronograma {
    margin-top: 970px;
    padding: 0;
    margin-left: 130px;
  }

  /* Ajusta a barra de navegação */
  #nav_format {
    padding: 1.5rem 4rem;
    margin-top: 10px;
  }

  #top,
  #top_login,
  .header,
  #nav_format {
    display: none;
  }
  /* Ajusta o botão de login */
  #top_login {
    padding: 5px 15px;
    font-size: 14px;
  }

  /* Ajusta o botão inscrever */
  #inscrever {
    padding: 0.5rem 2rem;
    font-size: 20px;
  }
  #fundo_cards {
    background-image: url(../imagens/background_cards-02.png);
    width: 133%;
    height: 98%;
    display: block;
    margin: 72px 0px 79px -129px;
    background-size: cover;
    padding-bottom: 70px;
    padding-top: 0px;
    box-sizing: border-box;
  }

  /* Ajusta o fundo das imagens */
  #imagem_background {
    width: 200vw;
    height: 40vw;
  }

  /* Ajusta o container dos vídeos */
  #top_background {
    height: 200px;
  }

  #top_background video {
    height: 845px;
    z-index: 0;
  }

  /* Ajusta o texto de informações */
  #info_text {
    padding-top: 250px;
  }
  /* Ajusta o tamanho e espaçamento do body */
  body {
    height: auto;
    padding: 0px;
  }
  /* botão toggle */
  .toggle {
    position: relative;
    width: 40px;
    left: 175px;
    top: 40px;
    cursor: pointer;
    margin: auto;
    display: block;
    height: calc(4px * 3 + 11px * 2);
  }

  .bar {
    position: absolute;
    left: 0;
    right: 0;
    height: 4px;
    border-radius: calc(4px / 2);
    background: #ffffff;
    color: inherit;
    opacity: 1;
    transition: none 0.35s cubic-bezier(0.5, -0.35, 0.35, 1.5) 0s;
  }

  /***** Tornado Animation *****/

  .bar--top {
    bottom: calc(50% + 11px + 4px / 2);
    transition-property: bottom, transform;
    transition-delay: calc(0s + 0.35s) * 0.6;
  }

  .bar--middle {
    top: calc(50% - 4px / 2);
    transition-property: opacity, transform;
    transition-delay: calc(0s + 0.35s * 0.3);
  }

  .bar--bottom {
    top: calc(50% + 11px + 4px / 2);
    transition-property: top, transform;
    transition-delay: 0s;
  }

  #checkbox:checked + .toggle .bar--top {
    transform: rotate(-135deg);
    transition-delay: 0s;
    bottom: calc(50% - 4px / 2);
  }

  #checkbox:checked + .toggle .bar--middle {
    opacity: 0;
    transform: rotate(-135deg);
    transition-delay: calc(0s + 0.35s * 0.3);
  }

  #checkbox:checked + .toggle .bar--bottom {
    top: calc(50% - 4px / 2);
    transform: rotate(-225deg);
    transition-delay: calc(0s + 0.35s * 0.6);
  }
  #menuToggle {
    position: absolute;
    z-index: 100000;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .mobile_menu {
    position: absolute;
  }
  .mobile_menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
  }
  .mobile_menu .top_menu {
    display: block;
    padding-bottom: 1.2rem;
  }
  .open {
    display: block;
    z-index: 1000;
    background-color: #db751cb2;
    width: 100%;
    height: 100%;
    /* top: 54px; */
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /***** padding cronograma *****/
  .body {
    padding: 0;
    flex-direction: row;
    overflow-x: scroll;
    justify-content: flex-start;
    flex-wrap: unset;
    width: 100vw;
    box-sizing: border-box;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  ul {
    padding-left: 0;
  }
  h1 {
    padding-top: 90px;
  }
  #logotipo {
    height: 500px;
  }
  img {
    height: 300px;
    margin-top: 210px;
  }
}
